@import "./_variables";

code[class*="language-"] {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0.1em;
  color: #000;
  padding: 0.1em 0.3em;
  margin: 0 0.05em;
}

table {
  &.striped {
    > tbody {
      > tr {
        &:nth-child(odd) {
          background-color: rgba(0,0,0,0.07) !important;
        }
        > td {
          &:first-child {
            font-weight: 500;
          }
        }
                  
        td.default-value,
        th.default-value {
          width: 10%;
        }

        td.mandatory,
        th.mandatory {
          width: 5%;
        }

        td.property,
        th.property {
          width: 15%;
        }

        td.type,
        th.type {
          width: 15%;
        }
      }
    }
  }
}

.rotate90 {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.section {
  padding-top: 0 !important;

  > p:last-child,
  > .row:last-child {
    margin-bottom: 0 !important;
  }
}

.preloader-container {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

/* Materialize-CSS addons */

.m-valign-wrapper {
  @media #{$medium-and-up} {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}