<h3>Tab</h3>
<div class="section">
  <app-code-snippet>import &#123; MzTabModule &#125; from 'ngx-materialize'</app-code-snippet>
</div>
<div class="section">
  <h5 class="light">Basic tab</h5>

  <div class="row m-valign-wrapper">
    <div class="col s12 m6">
      <mz-tab>
        <mz-tab-item [class]="'col s12'" [label]="'Таб 1'">Tab 1</mz-tab-item>
        <mz-tab-item [class]="'col s12'" [label]="'Tab 2'">Tab 2</mz-tab-item>
        <mz-tab-item [class]="'col s12'" [label]="'Tab 3'">Tab 3</mz-tab-item>
      </mz-tab>
    </div>

    <p class="col s12 m6">
      Default behavior from tab has variable tab width.
    </p>
  </div>
</div>

<div class="section">
  <h5 class="light">Active/disable tab item</h5>

  <div class="row m-valign-wrapper">
    <div class="col s12 m6">
      <mz-tab>
        <mz-tab-item [class]="'col s12'" [label]="'Tab 4'">Tab 4</mz-tab-item>
        <mz-tab-item [active]="'true'" [class]="'col s12'" [label]="'Tab 5'">Tab 5</mz-tab-item>
        <mz-tab-item [class]="'col s12'" [disabled]="'true'" [label]="'Tab 6'">Tab 6</mz-tab-item>
      </mz-tab>
    </div>

    <p class="col s12 m6">
      Basic tab with Tab 5 <code class="language-markup">active</code> property to <i>true</i> and
      Tab 6 <code class="language-markup">disabled</code> property to <i>true</i>.
    </p>
  </div>
</div>

<div class="section">
  <h5 class="light">Fixed tab item</h5>

  <div class="row m-valign-wrapper">
    <div class="col s12 m6">
      <mz-tab [fixedTabWidth]="'true'">
        <mz-tab-item [class]="'col s12'" [label]="'Tab 7'">Tab 7</mz-tab-item>
        <mz-tab-item [class]="'col s12'" [label]="'Tab 8'">Tab 8</mz-tab-item>
        <mz-tab-item [class]="'col s12'" [label]="'Tab 9'">Tab 9</mz-tab-item>
      </mz-tab>
    </div>

    <p class="col s12 m6">
      Tab with <code class="language-markup">fixedTabWidth</code> property to <i>true</i>.
    </p>
  </div>
</div>

<div class="section">
  <h5 class="light">Scrollable tab item</h5>

  <div class="row m-valign-wrapper">
    <div class="col s12 m6">
      <mz-tab [fixedTabWidth]="'true'">
        <mz-tab-item [class]="'col s12'" [label]="'Scrollable Tab 1'">Scrollable Tab 1</mz-tab-item>
        <mz-tab-item [class]="'col s12'" [label]="'Scrollable Tab 2'">Scrollable Tab 2</mz-tab-item>
        <mz-tab-item [class]="'col s12'" [label]="'Scrollable Tab 3'">Scrollable Tab 3</mz-tab-item>
        <mz-tab-item [class]="'col s12'" [label]="'Scrollable Tab 4'">Scrollable Tab 4</mz-tab-item>
        <mz-tab-item [class]="'col s12'" [label]="'Scrollable Tab 5'">Scrollable Tab 5</mz-tab-item>
        <mz-tab-item [class]="'col s12'" [label]="'Scrollable Tab 6'">Scrollable Tab 6</mz-tab-item>
      </mz-tab>
    </div>

    <p class="col s12 m6">
      Tab become scrollable when there a lot of tab item.
    </p>
  </div>
</div>

<div class="section">
  <h5 class="light">Swipeable item</h5>

  <div class="row m-valign-wrapper">
    <div class="col s12 m6">
      <mz-tab
        [swipeable]="'true'"
      >
        <mz-tab-item [class]="'blue col s12'" [label]="'Tab 10'">Tab 10</mz-tab-item>
        <mz-tab-item [class]="'red col s12'" [label]="'Tab 11'">Tab 11</mz-tab-item>
        <mz-tab-item [class]="'green col s12'" [label]="'Tab 12'">Tab 12</mz-tab-item>
      </mz-tab>
    </div>

    <p class="col s12 m6">
      Swipeable tabs which can be used on touch enabled devices.
    </p>
  </div>
</div>

<div class="section">

  <h5 class="light">HTML Structure</h5>

  <app-code-snippet>
&lt;mz-tab
  [fixedTabWidth]="'true'"
  [onShow]="callbackFunction()"
  [responsiveThreshold]="'true'"
  [swipeable]="'true'"
>
  &lt;mz-tab-item
    [active]="'true'"
    [disabled]="'true'"
    [label]="'Tab 1'"
  >
    Tab 1
  &lt;/mz-tab-item>
  &lt;mz-tab-item [label]="'Tab 2'">Tab 2&lt;/mz-tab-item>
  &lt;mz-tab-item [label]="'Tab 3'">Tab 3&lt;/mz-tab-item>
&lt;/mz-tab>
  </app-code-snippet>
</div>

<div class="section">

  <h5 class="light">Properties</h5>

  <div class="section">
    <h6 class="bold">mz-tab</h6>

    <p>
      Tab can be customized using the following properties on the <code class="language-markup">mz-tab</code> element.
    </p>

    <app-properties-table
      [properties]="tabProperties">
    </app-properties-table>
  </div>

  <div class="section">
    <h6 class="bold">mz-tab-item</h6>

    <p>
      <code class="language-markup">mz-tab-item</code> will transclude any contents.
    </p>

    <app-properties-table
      [properties]="tabItemProperties">
    </app-properties-table>
  </div>
</div>
