<h3>Pagition</h3>

<div class="section">
  <h5 class="light">Basic pagination</h5>

  <div class="row m-valign-wrapper">
    <mz-pagination class="col s12 m6"
      [itemsPerPage]="10"
      [totalItems]="100"
    >
    </mz-pagination>

    <p class="col s12 m6">
      <code class="language-markup">mz-pagination</code> has property <code class="language-markup">itemsPerPage</code> and <code class="language-markup">totalItems</code> to display the number of page.
    </p>
</div>

<div class="section">
  <h5 class="light">Active page</h5>

  <div class="row m-valign-wrapper">
    <mz-pagination class="col s12 m6"
      [currentPage]="5"
      [itemsPerPage]="10"
      [totalItems]="100"
    >
    </mz-pagination>

    <p class="col s12 m6">
      You can add <code class="language-markup">currentPage</code> property to select a specific page when rendering.
    </p>
</div>

<div class="section">
  <h5 class="light">Maximum page buttons</h5>

  <div class="row m-valign-wrapper">
    <mz-pagination class="col s12 m6"
      [itemsPerPage]="10"
      [maxPageButtons]="10"
      [totalItems]="100"
    >
    </mz-pagination>

    <p class="col s12 m6">
      If you want to change the number displayed page component you can use <code class="language-markup">maxPageButton</code> property.
    </p>
</div>


<div class="section">
  <h5 class="light">Subscribe on page change</h5>

  <div class="row m-valign-wrapper">
    <mz-pagination class="col s12 m6"
      (changePageEvent)="pageChange($event)"
      [itemsPerPage]="10"
      [totalItems]="100"
    >
    </mz-pagination>

    <p class="col s12 m6">
      You can use the ouput property <code class="language-markup">changePageEvent</code> to call a function when page changed.
    </p>
</div>

<div class="section">

  <h5 class="light">HTML Structure</h5>
    <app-code-snippet>
&lt;mz-pagination>
  (changePageEvent)="function($event)"
  [currentPage]="1"
  [itemsPerPage]="10"
  [totalItems]="100"
>
&lt;/mz-pagination>
  </app-code-snippet>
</div>

<div class="section">

  <h5 class="light">Properties</h5>

  <p>
    Pagition can be customized using the following properties on the <code class="language-markup">mz-pagination</code> element.
  </p>

  <app-properties-table
    [properties]="properties">
  </app-properties-table>
</div>
