<h3>Pagition</h3>

<div class="section">
  <h5 class="light">Basic pagination</h5>

  <div class="row m-valign-wrapper">
    <mz-pagination class="col s12 m4"
      [itemsPerPage]="10"
      [maxPageButtons]="5"
      [totalItems]="100"
    >
    </mz-pagination>

    <p class="col s12 m8">
      <code class="language-markup">mz-pagination</code> has property <code class="language-markup">itemsPerPage</code> and <code class="language-markup">totalItems</code> to display the number of page.
    </p>
</div>

<div class="section">

  <h5 class="light">HTML Structure</h5>
    <app-code-snippet>
&lt;mz-pagination>
  [currentPage]="1"
  [itemsPerPage]="10"
  [totalItems]="100"
>
&lt;/mz-pagination>
  </app-code-snippet>
</div>

<div class="section">

  <h5 class="light">Properties</h5>

  <p>
    Pagition can be customized using the following properties on the <code class="language-markup">mz-pagination</code> element.
  </p>

  <app-properties-table
    [properties]="properties">
  </app-properties-table>
</div>
