<h3>Collection</h3>

<div class="section">

  <h5 class="light">Basic collection</h5>

  <div class="row">

    <div class="col s12 m7">
      <mz-collection>
        <mz-collection-item>Collection item</mz-collection-item>
        <mz-collection-item>Collection item</mz-collection-item>
        <mz-collection-item>Collection item</mz-collection-item>
        <mz-collection-item>Collection item</mz-collection-item>
      </mz-collection>
    </div>

    <p class="col s12 m5">
      Collections allow you to group list objects together
    </p>
  </div>

  <app-code-snippet>
&lt;mz-collection>
  &lt;mz-collection-item>Collection item 1&lt;/mz-collection-item>
  &lt;mz-collection-item>Collection item 2&lt;/mz-collection-item>
  &lt;mz-collection-item>Collection item 3&lt;/mz-collection-item>
  &lt;mz-collection-item>Collection item 4&lt;/mz-collection-item>
&lt;/mz-collection>
  </app-code-snippet>
</div>

<!-- MZ-LINK-COLLECTION -->

<!-- HEADERS -->
<div class="section">

  <h5 class="light">Headers</h5>

  <div class="row">

    <div class="col s12 m7">
      <mz-collection>
        <mz-collection-header><h4>Collection header</h4></mz-collection-header>
        <mz-collection-item>Collection item</mz-collection-item>
        <mz-collection-item>Collection item</mz-collection-item>
        <mz-collection-item>Collection item</mz-collection-item>
        <mz-collection-item>Collection item</mz-collection-item>
      </mz-collection>
    </div>

    <p class="col s12 m5">
      You can add a header by using the <code class="language-markup">mz-collection-header</code> element
    </p>
  </div>

  <app-code-snippet>
&lt;mz-collection>
  &lt;mz-collection-header>&lt;h4>Collection header&lt;/h4>&lt;/mz-collection-header>
  &lt;mz-collection-item>Collection item&lt;/mz-collection-item>
  &lt;mz-collection-item>Collection item&lt;/mz-collection-item>
  &lt;mz-collection-item>Collection item&lt;/mz-collection-item>
  &lt;mz-collection-item>Collection item&lt;/mz-collection-item>
&lt;/mz-collection>
  </app-code-snippet>
</div>

<!-- SECONDARY CONTENT -->
<div class="section">

  <h5 class="light">Secondary Content</h5>

  <div class="row">

    <div class="col s12 m7">
      <mz-collection>
        <mz-collection-header><h4>Collection header</h4></mz-collection-header>
        <mz-collection-item>
          Collection item
          <a href="#!" mz-secondary-content><i mz-icon-mdi [icon]="'send'"></i></a>
        </mz-collection-item>
        <mz-collection-item>
          Collection item
          <a href="#!" mz-secondary-content><i mz-icon-mdi [icon]="'send'"></i></a>
        </mz-collection-item>
        <mz-collection-item>
          Collection item
          <a href="#!" mz-secondary-content><i mz-icon-mdi [icon]="'send'"></i></a>
        </mz-collection-item>
        <mz-collection-item>
          Collection item
          <a href="#!" mz-secondary-content><i mz-icon-mdi [icon]="'send'"></i></a>
        </mz-collection-item>
      </mz-collection>
    </div>

    <p class="col s12 m5">
      Use<code class="language-markup">mz-secondary-content</code> element
    </p>
  </div>

  <app-code-snippet>
&lt;mz-collection>
  &lt;mz-collection-header>&lt;h4>Collection header&lt;/h4>&lt;/mz-collection-header>
  &lt;mz-collection-item>
    Collection item
    &lt;a href="#!" mz-secondary-content>&lt;i mz-icon-mdi [icon]="'send'">&lt;/i>&lt;/a>
  &lt;/mz-collection-item>
  &lt;mz-collection-item>
    Collection item
    &lt;a href="#!" mz-secondary-content>&lt;i mz-icon-mdi [icon]="'send'">&lt;/i>&lt;/a>
  &lt;/mz-collection-item>
  &lt;mz-collection-item>
    Collection item
    &lt;a href="#!" mz-secondary-content>&lt;i mz-icon-mdi [icon]="'send'">&lt;/i>&lt;/a>
  &lt;/mz-collection-item>
  &lt;mz-collection-item class="test">
    Collection item
    &lt;a href="#!" mz-secondary-content>&lt;i mz-icon-mdi [icon]="'send'">&lt;/i>&lt;/a>
  &lt;/mz-collection-item>
&lt;/mz-collection>
  </app-code-snippet>
</div>

<!-- AVATAR CONTENT -->
<div class="section">

  <h5 class="light">Avatar Content</h5>

  <div class="row">

    <div class="col s12 m7">
      <mz-collection>
        <mz-collection-item [avatar]="'true'">
          <img src="assets/select-icon-1.jpg" class="circle">
          <div class="title">Title</div>
          <div>First Line</div>
          <div>Second Line</div>
          <a href="#!" class="secondary-content">
            <i mz-icon-mdi [icon]="'star'"></i>
          </a>
        </mz-collection-item>
        <mz-collection-item [avatar]="'true'">
          <i mz-icon-mdi [icon]="'facebook'" class="circle indigo"></i>
          <div class="title">Title</div>
          <div>First Line</div>
          <div>Second Line</div>
          <a href="#!" class="secondary-content">
            <i mz-icon-mdi [icon]="'star'"></i>
          </a>
        </mz-collection-item>
        <mz-collection-item [avatar]="'true'">
          <i mz-icon-mdi [icon]="'twitter'" class="circle blue lighten-1"></i>
          <div class="title">Title</div>
          <div>First Line</div>
          <div>Second Line</div>
          <a href="#!" class="secondary-content">
            <i mz-icon-mdi [icon]="'star'"></i>
          </a>
        </mz-collection-item>
        <mz-collection-item [avatar]="'true'">
          <i mz-icon-mdi [icon]="'youtube-play'" class="circle red accent-4"></i>
          <div class="title">Title</div>
          <div>First Line</div>
          <div>Second Line</div>
          <a href="#!" class="secondary-content">
            <i mz-icon-mdi [icon]="'star'"></i>
          </a>
        </mz-collection-item>
      </mz-collection>
    </div>

    <p class="col s12 m5">
      You can add a header by using the <code class="language-markup">mz-collection-header</code> element
    </p>
  </div>

  <app-code-snippet>
&lt;mz-collection>
  &lt;mz-collection-header>&lt;h4>Collection header&lt;/h4>&lt;/mz-collection-header>
  &lt;mz-collection-item>Collection item&lt;/mz-collection-item>
  &lt;mz-collection-item>Collection item&lt;/mz-collection-item>
  &lt;mz-collection-item>Collection item&lt;/mz-collection-item>
  &lt;mz-collection-item>Collection item&lt;/mz-collection-item>
&lt;/mz-collection>
  </app-code-snippet>
</div>