# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/documentation
/package
/tmp
/out-tsc
/out
/package

# transpiled output
/inline-template
/src/inline-template
*.ngsummary.json
*.ngfactory.ts
*.ngstyle.ts

# dependencies
/node_modules
/src/node_modules

# IDEs and editors
/.idea
*.iml
.project
.classpath
.c9/
.settings/
*.launch
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/typings
npm-debug.log
package-lock.json
test-results.xml
testem.log
tslint.xml
*.log
*.tar
*.tgz

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
