*.log
*.ngfactory.ts
*.ngstyle.ts
*.ngsummary.json
*.spec.ts
*.tgz
/.angular-cli.json
/.editorconfig
/.npmignore
/.vscode
/app.json
/app/shared/test-wrapper
/appveyor.yml
/circle.yml
/demo-app
/e2e
/gulpfile.js
/index.ts
/karma.conf.js
/protractor.conf.js
/src
/static.json
/test-results.xml
/tsconfig.json
/tslint-formatters
/tslint.json
/yarn.lock
