*.ngfactory.ts
*.ngstyle.ts
*.ngsummary.json
*.spec.ts
/.editorconfig
/.vscode
/angular-cli.json
/app/shared/test-wrapper
/circle.yml
/demo-app
/e2e
/gulpfile.js
/index.ts
/karma.conf.js
/protractor.conf.js
/src
/test-results.xml
/tslint-formatters
/tslint.json
