image: Visual Studio 2017

branches:
  only:
    - master

environment:
  matrix:
    - nodejs_version: "7"

platform:
  - x64

install:
  - ps: Install-Product node $env:nodejs_version
  - yarn install --frozen-lockfile --no-progress
  - yarn build
  - npm pack
  - 7z x ng2-materialize-*.tgz && 7z x ng2-materialize-*.tar
  - cd package && yarn unlink && yarn link && cd ..
  - cd demo-app
  - yarn unlink ng2-materialize
  - yarn install --frozen-lockfile --no-progress
  - yarn link ng2-materialize

test_script:
  - node --version
  - npm --version
  - yarn --version
  - yarn lint
  - yarn build:prod -- --progress false

build: off

cache:
  - node_modules -> yarn.lock
  - demo-app/node_modules -> demo-app/yarn.lock
  - "%LOCALAPPDATA%/Yarn"