<form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="section">
    <h6>Personnal information</h6>
    <div class="row">
      <mz-input-container class="col s12 m6">
        <input mz-input mz-validation required
          id="input-firstname"
          formControlName="firstName"
          type="text"
          [errorMessageResource]="errorMessageResources.firstName"
          [label]="'First Name'" />
      </mz-input-container>
      <mz-input-container class="col s12 m6">
        <input mz-input mz-validation required
          id="input-lastname"
          formControlName="lastName"
          type="text"
          [errorMessageResource]="errorMessageResources.lastName"
          [label]="'Last Name'" />
      </mz-input-container>
      <mz-datepicker-container class="col s12 m6">
        <input mz-datepicker mz-validation required
          id="datepicker-birthdate"
          formControlName="birthDate"
          type="text"
          [errorMessageResource]="errorMessageResources.birthDate"
          [options]="{ formatSubmit: 'yyyy-mm-dd' }"
          [label]="'Birth Date'" />
      </mz-datepicker-container>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <h6 class="col s12">Gender</h6>
    </div>
    <div class="row">
      <mz-radio-button-container class="col s12 m3">
        <input mz-radio-button
          id="radio-button-man"
          formControlName="gender"
          name="gender"
          type="radio"
          value="man"
          [label]="'Man'"
          [withGap]="true">
      </mz-radio-button-container>
      <mz-radio-button-container class="col s12 m3">
        <input mz-radio-button
          id="radio-button-woman"
          formControlName="gender"
          name="gender"
          type="radio"
          value="woman"
          [label]="'Woman'"
          [withGap]="true">
      </mz-radio-button-container>
    </div>
  </div>

  <div class="section">
    <h6>Professional information</h6>
    <div class="row valign-wrapper">
      <mz-checkbox-container class="col s2">
        <input mz-checkbox
          id="checkbox-job"
          formControlName="hasJob"
          type="checkbox"
          [filledIn]="true"
          [label]="'Has job?'">
      </mz-checkbox-container>
      <mz-input-container class="col s5">
        <input mz-input mz-validation required
          id="input-company-name"
          formControlName="companyName"
          type="text"
          [errorMessageResource]="errorMessageResources.companyName"
          [formControlDisabled]="!userForm.controls['hasJob'].value"
          [label]="'Company name'" />
      </mz-input-container>
      <mz-input-container class="col s5">
        <input mz-input mz-validation required
          id="input-job-title"
          formControlName="jobTitle"
          type="text"
          [errorMessageResource]="errorMessageResources.jobTitle"
          [formControlDisabled]="!userForm.controls['hasJob'].value"
          [label]="'Job title'" />
      </mz-input-container>
    </div>
    <div class="row">
      <mz-textarea-container class="col s12">
        <textarea mz-textarea mz-validation required
          id="textarea-job-description"
          formControlName="jobDescription"
          [errorMessageResource]="errorMessageResources.jobDescription"
          [formControlDisabled]="!userForm.controls['hasJob'].value"
          [label]="'Job description'"
          [length]="255">
        </textarea>
      </mz-textarea-container>
    </div>
    <div class="row m-valign-wrapper">
      <mz-radio-button-container class="col s6 m3">
        <input mz-radio-button mz-validation
          id="radio-button-jobtype-permanent"
          formControlName="jobType"
          name="jobType"
          type="radio"
          value="permanent"
          [formControlDisabled]="!userForm.controls['hasJob'].value"
          [label]="'Permanent'"
          [withGap]="true">
      </mz-radio-button-container>
      <mz-radio-button-container class="col s6 m3">
        <input mz-radio-button mz-validation
          id="radio-button-jobtype-consultant"
          formControlName="jobType"
          name="jobType"
          type="radio"
          value="consultant"
          [formControlDisabled]="!userForm.controls['hasJob'].value"
          [label]="'Consultant'"
          [withGap]="true">
      </mz-radio-button-container>
      <mz-select-container class="col s12 m6">
        <select mz-select mz-validation required
          id="select-activity-sector"
          formControlName="activitySector"
          [errorMessageResource]="errorMessageResources.activitySector"
          [formControlDisabled]="!userForm.controls['hasJob'].value"
          [label]="'Activity sector'"
          [placeholder]="'Choose your activity sector'">
          <option *ngFor="let activitySectorOption of activitySectorOptions" [ngValue]="activitySectorOption">{{ activitySectorOption.text }}</option>
        </select>
      </mz-select-container>
    </div>
    <div class="row">
      <mz-checkbox-container class="col s12">
        <input mz-checkbox mz-validation
          id="checkbox-job-privae"
          formControlName="jobPrivate"
          type="checkbox"
          [filledIn]="true"
          [formControlDisabled]="!userForm.controls['hasJob'].value"
          [label]="'Keep professional information private?'">
      </mz-checkbox-container>
    </div>
  </div>

  <div class="section">
    <h6>Contact information</h6>
    <div class="row">
      <mz-input-container class="col s12">
        <input mz-input mz-validation required
          id="input-address"
          formControlName="address"
          type="text"
          [errorMessageResource]="errorMessageResources.address"
          [label]="'Address 1'" />
      </mz-input-container>
    </div>
    <div class="row">
      <mz-textarea-container class="col s12">
        <textarea mz-textarea
          id="textarea-address2"
          formControlName="address2"
          [label]="'Address 2'"
          [length]="255">
        </textarea>
      </mz-textarea-container>
    </div>
    <div class="row">
      <mz-input-container class="col s12 m5">
        <input mz-input
          id="input-city"
          formControlName="city"
          type="text"
          [label]="'City'"
          [length]="10" />
      </mz-input-container>
      <mz-select-container class="col s12 m5">
        <select mz-select mz-validation required
          id="select-province"
          formControlName="province"
          [errorMessageResource]="errorMessageResources.province"
          [label]="'Province'"
          [placeholder]="'Choose your province'">
          <option *ngFor="let provinceOption of provinceOptions" [ngValue]="provinceOption">{{ provinceOption.name }}</option>
        </select>
      </mz-select-container>
      <mz-input-container class="col s12 m2">
        <input mz-input mz-validation
          id="input-postalcode"
          formControlName="postalCode"
          type="text"
          [errorMessageResource]="errorMessageResources.postalCode"
          [label]="'Postal Code'" />
      </mz-input-container>
    </div>
  </div>

  <div class="section">
    <h6>Phone number</h6>
    <div class="row" formArrayName="phoneNumbers">
      <div *ngFor="let phoneNumber of getPhoneNumbers(); let i = index">
        <mz-input-container class="col s11" [formGroup]="userForm.get('phoneNumbers').at(i)">
          <input mz-input mz-validation
            id="input-phonenumber-{{i}}"
            formControlName="phoneNumber"
            type="text"
            [errorMessageResource]="errorMessageResources.phoneNumber"
            [label]="'Phone number'" />
        </mz-input-container>
        <div class="col s1">
          <button mz-button *ngIf="i > 0" [flat]="true" [float]="true" (click)="deletePhoneNumber(i)" type="button">
            <i mz-icon class="black-text" [icon]="'clear'"></i>
          </button>
        </div>
      </div>
    </div>
    <div>
      <button mz-button (click)="addPhoneNumber()" type="button">Add</button>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <h6 class="col s12">Additionnal information</h6>
    </div>
    <div class="row">
      <mz-select-container class="col s12 m6">
        <select mz-select multiple mz-validation required
          id="select-hear-about-us"
          formControlName="hearAboutUs"
          [errorMessageResource]="errorMessageResources.hearAboutUs"
          [label]="'How did you hear about us?'"
          [placeholder]="'Make your choice'">
          <option *ngFor="let hearAboutUsOption of hearAboutUsOptions" [ngValue]="hearAboutUsOption">{{ hearAboutUsOption.text }}</option>
        </select>
      </mz-select-container>
    </div>
    <div class="row">
      <div class="col s12">
        <mz-checkbox-container>
          <input mz-checkbox mz-validation required
            id="checkbox-term-service"
            formControlName="termService"
            type="checkbox"
            [errorMessageResource]="errorMessageResources.termService"
            [filledIn]="true"
            [label]="'I accept the terms of service.'">
        </mz-checkbox-container>
      </div>
    </div>
  </div>

  <button mz-button [disabled]="!userForm.valid" type="submit">Submit</button>
  <button mz-button (click)="clear()" type="button">Clear</button>
</form>