<h3>Icon</h3>

<div class="section">
  <p>
    The <code class="language-markup">mz-icon</code> directive support <a href="https://material.io/icons/" target="_blank">Material Icons</a> and the <code class="language-markup">mz-icon-mdi</code> directive <a href="https://materialdesignicons.com/" target="_blank">Material Design Icons</a>. Its use is not mandatory, but it provides an easy icons integration.
  </p>

  <p>
    You may use one, both, or neither of these implementation of icons. Although we suggest you to use Material Design Icons due to the fact that not only it provides access to all the Google icons but it has a lot of community added icons that might be usefull.
  </p>
</div>

<div class="section">

  <h5 class="light">Material Icons</h5>
  <h6><a href="https://material.io/icons/" target="_blank">https://material.io/icons/</a></h6>

  <div class="row m-valign-wrapper">
    <i mz-icon
      class="col s12 m2"
      [icon]="icon">
    </i>

    <p class="col s12 m10">
      <code class="language-markup">icon</code> property as <code class="language-markup">cloud</code>
    </p>
  </div>

  <div class="row m-valign-wrapper">
    <i mz-icon
      class="col s12 m2"
      [icon]="'cloud'"
      [size]="'medium'">
    </i>

    <p class="col s12 m10">
      <code class="language-markup">size</code> property as <code class="language-markup">medium</code>
    </p>
  </div>

  <h5 class="light">HTML Structure</h5>

  <app-code-snippet>
&lt;i mz-icon
  [icon]="'cloud'"
  [size]="'medium'">
&lt;/i>
  </app-code-snippet>
</div>

<div class="section">

  <h5 class="light">Material Design Icons</h5>
  <h6><a href="https://materialdesignicons.com/" target="_blank">https://materialdesignicons.com/</a></h6>

  <div class="row m-valign-wrapper">
    <i mz-icon-mdi
      class="col s12 m2"
      [icon]="'sword'">
    </i>

    <p class="col s12 m10">
      <code class="language-markup">icon</code> property as <code class="language-markup">sword</code>
    </p>
  </div>

  <div class="row m-valign-wrapper">
    <i mz-icon-mdi
      class="col s12 m2 red-text"
      [icon]="'puzzle'">
    </i>

    <p class="col s12 m10">
    <code class="language-markup">class</code> property as <code class="language-markup">red-text</code>
    </p>
  </div>

  <div class="row m-valign-wrapper">
    <i mz-icon-mdi
      class="col s12 m2"
      [icon]="'puzzle'"
      [size]="'36px'">
    </i>

    <p class="col s12 m10">
      <code class="language-markup">size</code> property as <code class="language-markup">36px</code>
    </p>
  </div>

  <h5 class="light">HTML Structure</h5>

  <app-code-snippet>
&lt;i mz-icon-mdi
  [icon]="'puzzle'"
  [size]="'36px'">
&lt;/i>
  </app-code-snippet>
</div>

<div class="section">

  <h5 class="light">Properties</h5>

  <p>
    Icons can be customized using the following properties on the <code class="language-markup">i</code> element when using the directive <code class="language-markup">mz-icon</code> or <code class="language-markup">mz-icon-mdi</code>.
  </p>

  <table class="striped responsive-table">
    <thead>
      <tr>
        <th data-field="property">Property</th>
        <th data-field="mandatory" class="center mandatory">Mandatory</th>
        <th data-field="type">Type</th>
        <th data-field="description">Description</th>
        <th data-field="default-value">Default value</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>align</td>
        <td class="center grey-text"><i mz-icon-mdi [icon]="'minus'"></i></td>
        <td>string</td>
        <td>Alignement of the icon</td>
        <td></td>
      </tr>
      <tr>
        <td>icon</td>
        <td class="center green-text"><i mz-icon-mdi [icon]="'check'"></i></td>
        <td>string</td>
        <td>The name of the icon</td>
        <td></td>
      </tr>
      <tr>
        <td>size</td>
        <td class="center grey-text"><i mz-icon-mdi [icon]="'minus'"></i></td>
        <td>string</td>
        <td>Icon size to be applied on the icon. <br />For <code class="language-markup">mz-icon</code> directive <code class="language-markup">tiny</code>, <code class="language-markup">small</code>, <code class="language-markup">medium</code> and <code class="language-markup">large</code>.<br /> For <code class="language-markup">mz-icon-mdi</code> directive it could be could be <code class="language-markup">24px</code>, <code class="language-markup">36px</code>, or <code class="language-markup">48px</code></td>
        <td>Default value for <code class="language-markup">mz-icon-mdi</code> is <code class="language-markup">24px</code></td>
      </tr>
    </tbody>
  </table>
</div>