$error-color: #e30613;
$valid-color: #4CAF50;

// border-bottom on select element is not apply correctly without this selector
.select-wrapper input.select-dropdown.invalid {
  border-bottom: 1px solid $error-color;
}

.select-wrapper input.select-dropdown.valid {
  border-bottom: 1px solid $valid-color;
}

input:not([type="checkbox"]):focus + label.active span.placeholder-required {
  color: $error-color;
}