version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8-browsers
    working_directory: ~/lib
    steps:
      # Checkout the code from the branch into the working_directory
      - checkout
      # Restore local dependencies from cache
      - restore_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
      # Install project dependencies
      - run:
          name: Install local dependencies
          command: yarn install --frozen-lockfile --no-progress
      # Cache local dependencies if they don't exist
      - save_cache:
          key: dependency-cache-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
            - ./node_modules
      # Test the source code
      - run:
          name: Test
          command: yarn test --single-run --code-coverage --no-progress --browser=ChromeNoSandbox
      - store_artifacts:
          path: test-results.xml
          prefix: tests
      - store_artifacts:
          path: coverage
          prefix: coverage
      # Lint the source code
      - run:
          name: Lint
          command: yarn lint --formatters-dir ./tslint-formatters --format junit -o tslint.xml
      - store_artifacts:
          path: tslint.xml
          prefix: lint
      # Build the source code
      - run:
          name: Build
          command: yarn build
  deploy:
    docker:
      - image: circleci/node:8-browsers
    steps:
      # Checkout the code from the branch into the working_directory
      - checkout
      # Build and Deploy demo-app to Github Pages
      - run:
          name: Deploy to gh-pages
          command: cd demo-app && yarn install && yarn gh-pages:deploy

workflows:
  version: 2
  build_and_deploy:
    jobs:
      # Build for all branches other than gh-pages and for all tags
      - build:
          filters:
            branches:
              ignore: gh-pages
            tags:
              only: /.*/
      # Deploy for tags marked by a version number only on master branch
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
            branches:
              only: master
