<div class="header-background blue-grey lighten-3"></div>

<div class="header-content valign-wrapper">
  <img class="angular-logo" src="assets/angular.png">
  <mz-icon class="plus-logo" [mdiIcon]="'plus'"></mz-icon>
  <img class="materialize-logo" src="assets/materialize.png">
</div>

<div class="section">

  <h3>ng2-materialize</h3>

  <p>
    This library is an <a href="https://angular.io/" target="_blank">Angular 2</a> wrap around <a href="http://materializecss.com/" target="_blank">Materialize</a> library, a responsive CSS/JS framework that implements <a href="https://material.google.com/" target="_blank">Material Design</a> specifications from Google.
  </p>

  <p>
    The purpose of this library is to simplify the usage within the Angular framework.
  </p>
</div>

<div class="section">

  <h5 class="light">Why ng2-materialize ?</h5>

  <p>
    We are aware that alternatives exposing Material Design components already exist. But in our case, we want to rely on a stable css framework that does not depend on a specific js framework.
  </p>

  <p>
    With <a href="http://materializecss.com/" target="_blank">Materialize</a> we already know the possibilities that this framework offers, it remains to wrap in Angular component the Materialize components that we want to use.
  </p>

  <p>
    If you want to use a component that is not yet implemented, simply wrap the existing Materialize that already meets the Material Design specifications. No need to be an HTML/CSS expert, only to know the Angular 2 components. Or if you are in a hurry, you can use it directly in HTML rather than in Angular component.
  </p>
</div>

<div class="section">

  <h5 class="light">Installation</h5>

<app-code-snippet>
npm install --save ng2-materialize
npm install --save materialize-css jquery@2.2.4 mdi
</app-code-snippet>

  <p>
    Don't forget to include jQuery, Materialize CSS and Mdi into your application, if you are using <a href="https://github.com/angular/angular-cli" target="_blank">Angular-CLI</a> you can follow the example below :
  </p>

<app-code-snippet [language]="'diff'">
"styles": [
  "styles.scss",
+  "../node_modules/materialize-css/bin/materialize.css",
+  "../node_modules/mdi/css/materialdesignicons.css"
],
"scripts": [
+  "../node_modules/jquery/dist/jquery.js",
+  "../node_modules/materialize-css/bin/materialize.js"
],
</app-code-snippet>

<p>
  Currently, Materialize is not provided by this library, you need to install and link it in your application.
</p>

<app-code-snippet>
npm install --save materialize-css
</app-code-snippet>

  <p>
    See also <a href="https://github.com/angular/angular-cli#3rd-party-library-installation" target="_blank">Angular-CLI 3rd Party Library Installation</a> and <a href="https://medium.com/@ladyleet/using-materializecss-with-your-angular-2-angular-cli-app-2eb64b05a1d2#.8p3uba85g" target="_blank">Using Materialize CSS with your Angular 2 Angular-CLI App</a>.
  </p>

  <h6 class="light">Note</h6>
  <p>
    Currently, we have an issue with the compiler-cli (ngc) and inline templates. That's why this library is temporarly distributed with source in plain TypeScript and it will be transpiled and <code class="language-markup">.metadata.json</code> created with your application.
  </p>
  <p>
    We use this library with Angular-CLI and it works well, but at this time, we can not guarantee that it works in all environments.
  </p>
</div>

<div class="section">

  <h5 class="light">Usage</h5>

  <p>
    You must import <code class="language-markup">MaterializeModule</code> inside your module to be able to use materialize components.
  </p>

<app-code-snippet [language]="'diff'">
import &#123; CommonModule } from '@angular/common';
import &#123; NgModule } from '@angular/core';
+ import &#123; MaterializeModule } from 'ng2-materialize';

import &#123; HomeComponent } from './home.component';

@NgModule(&#123;
  imports: [
    CommonModule,
+   MaterializeModule.forRoot(),
  ],
  declarations: [ HomeComponent ],
})
export class HomeModule &#123; }
</app-code-snippet>
</div>

<div class="section">

  <h5 class="light">Available components</h5>

  <ul class="browser-default">
    <li>Button</li>
    <li>Card</li>
    <li>Icon</li>
    <li>Navbar</li>
    <li>Parallax</li>
    <li>Progress</li>
    <li>Sidenav</li>
    <li>Spinner</li>
  </ul>
</div>

<div class="section">

  <h5 class="light">Demo application</h5>

  <p>
    A demo application is available, please refer to the folder <code class="language-markup">./demo-app</code> and his <code class="language-markup">README</code> (./demo-app/README.md).
  </p>
</div>

<div class="section">

  <h5 class="light">Road map</h5>

  <p>
    We (at SherWeb) are currently wrapping the components we need, and unfortunately we can't provide a specific road map.
  </p>
  <p>
    If some components are missing, feel free to contribute.
  </p>
</div>

<div class="section">

  <h5 class="light">Contribute</h5>

  <p>
    Contributions are always welcome.
  </p>

  <p>
    Make sure that :
  </p>
  <ul class="browser-default">
    <li>Your style matches with the rest of the project</li>
    <li>Unit tests pass</li>
    <li>Linter passes</li>
  </ul>

  <p>
    And you are ready to go.
  </p>
</div>

