<mz-parallax class="header-background" [height]="245">
  <img src="assets/home-header-bg.png">
</mz-parallax>

<div class="header-content valign-wrapper">
  <img class="angular-logo" src="assets/angular.png">
  <i mz-icon-mdi class="plus-logo" [icon]="'plus'"></i>
  <img class="materialize-logo" src="assets/materialize.png">

  <button mz-button
    class="github-button"
    (click)="navigateToGithub()">
    <i mz-icon-mdi [icon]="'github-circle'" [align]="'left'"></i>Github
  </button>
</div>

<markdown-to-html [src]="'README.md'"></markdown-to-html>