<mz-parallax class="header-background" [height]="245">
  <img src="assets/home-header-bg.png">
</mz-parallax>

<div class="header-content valign-wrapper">
  <img class="angular-logo" src="assets/angular.png">
  <i mz-icon-mdi class="plus-logo" [icon]="'plus'"></i>
  <img class="materialize-logo" src="assets/materialize.png">

  <button mz-button
    class="github-button"
    (click)="navigateToGithub()">
    <i mz-icon-mdi [icon]="'github-circle'" [align]="'left'"></i>Github
  </button>
</div>

<markdown-to-html>
  # ng2-materialize [![CircleCI](https://circleci.com/gh/sherweb/ng2-materialize.svg?style=shield&circle-token=4f457a3c93c34ad9cdf21cbe53605dad94f21955)](https://circleci.com/gh/sherweb/ng2-materialize) [![Build status](https://ci.appveyor.com/api/projects/status/0b6d1hpfoxrcaw60?svg=true)](https://ci.appveyor.com/project/charpeni/ng2-materialize-w4588) [![version](https://img.shields.io/npm/v/ng2-materialize.svg?style=flat)](https://www.npmjs.com/package/ng2-materialize) [![npm](https://img.shields.io/npm/l/ng2-materialize.svg)](https://opensource.org/licenses/Apache-2.0)
</markdown-to-html>

<markdown-to-html [src]="'README.md'"></markdown-to-html>