<h3>Timepicker</h3>

<div class="section">
  <p>
    Ng2-Materialize leverage the use of the native HTML input by using the <code class="language-markup">mz-timepicker</code> directive directly on the input element tag to ease the fact that you might use third party library that would ask you to add properties directly on that native input element.
  </p>
</div>

<div class="section">

  <h5 class="light">Basic timepicker</h5>

  <div class="row m-valign-wrapper">

    <mz-timepicker-container class="col s12 m6">
      <input mz-timepicker
        [label]="'Label'"
        id="basic-timepicker"
        placeholder="Placeholder"
        type="text" />
    </mz-timepicker-container>

    <p class="col s12 m6">
      Label and placeholder can be combined using both <code class="language-markup">label</code> and <code class="language-markup">placeholder</code> properties.
    </p>
  </div>