<h3>Parallax</h3>
<div class="section">
  <app-code-snippet>import &#123; MzParallaxModule &#125; from 'ngx-materialize'</app-code-snippet>
</div>
<div class="section">

  <p>
    Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.
  </p>
</div>

<div class="section">

  <mz-card class="parallax-card">
    <mz-card-content>

      <mz-parallax
        [height]="300">
        <img class="parallax-image" src="assets/parallax-1.png">
      </mz-parallax>

      <div class="parallax-section white">
        <h5 class="light">Definition</h5>
        <p>
          <b>Parallax scrolling</b> is a technique in computer graphics and web design, where background images move by the camera slower than foreground images, creating an illusion of depth in a 2D scene and adding to the immersion. The technique grew out of the multiplane camera technique used in traditional animation since the 1930s. Parallax scrolling was popularized in 2D computer graphics and video games by the arcade games <i>Moon Patrol</i> and <i>Jungle Hunt</i>, both released in 1982. Some parallax scrolling had earlier been used by the 1981 arcade game <i>Jump Bug</i>.
        </p>
        <blockquote>
          wikipedia.org<br>
          <a href="https://en.wikipedia.org/wiki/Parallax_scrolling" target="_blank">https://en.wikipedia.org/wiki/Parallax_scrolling</a>
        </blockquote>
      </div>

      <mz-parallax
        [height]="300">
        <img class="parallax-image" src="assets/parallax-2.png">
      </mz-parallax>
    </mz-card-content>
  </mz-card>
</div>

<div class="section">

  <h5 class="light">HTML Structure</h5>

  <app-code-snippet>
&lt;mz-parallax [height]="300">
  &lt;img src="images/parallax.jpg">
&lt;/mz-parallax>
  </app-code-snippet>
</div>

<div class="section">

  <h5 class="light">Properties</h5>

  <p>
    Parallax container can be customized using the following properties on the <code class="language-markup">mz-parallax</code> element.
  </p>

  <app-properties-table
    [properties]="properties">
  </app-properties-table>
</div>