@import "../../_route-animation-host";

.parallax-card #{'/deep/'} {

  .card-content {
    padding: 0;
  }

  .parallax-container {
    z-index: 1;
  }

  .parallax-section {
    padding: 32px;
  }

  .parallax-image {
    height: 650px;
  }

  .parallax-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    word-wrap: break-word;
  }
}