<div class="card">
  <div class="card-tabs col s12">
    <ul class="tabs">
      <li class="tab"><a class="active" href="#view-form-state">View</a></li>
      <li class="tab"><a href="#html-form-state">HTML</a></li>
      <li class="tab"><a href="#code-form-state">TS</a></li>
    </ul>
  </div>
  <div class="card-content">
    <div id="view-form-state" class="col s12">

      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="row m-valign-wrapper">
          <mz-checkbox-container class="col s12 m2">
            <input mz-checkbox
              id="checkbox-form-state"
              formControlName="checkbox"
              type="checkbox"
              [filledIn]="true"
              [label]="'Disabled'">
          </mz-checkbox-container>
          <mz-input-container class="col s12 m3">
            <input mz-input mz-validation required
              id="input-form-state"
              formControlName="input"
              type="text"
              [errorMessageResource]="errorMessages.input"
              [label]="'Input'"
              [placeholder]="'Enter text'">
          </mz-input-container>
          <mz-select-container class="col s12 m3">
            <select mz-select mz-validation required
              id="select-form-state"
              formControlName="select"
              [errorMessageResource]="errorMessages.select"
              [label]="'Select'"
              [placeholder]="'Choose an option'">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </mz-select-container>
          <mz-datepicker-container class="col s12 m3">
            <input mz-datepicker mz-validation required
              id="datepicker-form-state"
              formControlName="datepicker"
              type="text"
              [errorMessageResource]="errorMessages.datepicker"
              [label]="'Datepicker'"
              [options]="{ format: 'yyyy-mm-dd' }"
              [placeholder]="'Select a date'">
          </mz-datepicker-container>
          <mz-timepicker-container class="col s12 m3">
            <input mz-timepicker mz-validation required
              id="timepicker-form-state"
              formControlName="timepicker"
              type="text"
              [errorMessageResource]="errorMessages.timepicker"
              [label]="'Timepicker'"
              [placeholder]="'Select a time'">
          </mz-timepicker-container>
        </div>
        <button mz-button [disabled]="!form.valid" type="submit">Submit</button>
        <button mz-button (click)="clear()" type="button">Clear</button>
      </form>

      <div *ngIf="submitted">
        <h5 class="light">Submitted form</h5>
        <markdown [data]="values | json | language: 'json'"></markdown>
      </div>
    </div>
    <div id="html-form-state" class="col s12"><markdown [src]="'app/validation/validation-form-state/markdown/component.html'"></markdown></div>
    <div id="code-form-state" class="col s12"><markdown [src]="'app/validation/validation-form-state/markdown/component.ts'"></markdown></div>
  </div>
</div>