<h3>Native CSS Class</h3>

<div class="section">
  <p class="col s12 m10">
    Pages from Materialize that explain how to use their native CSS Class which can be used all around your application. <strong>Those CSS class will not be wrapped into directive.</strong>
    For more details click on each page link.
  </p>
</div>

<div class="section">
  <h5 class="light">Pages from Materialize</h5>

  <table class="striped">
    <thead>
      <tr>
        <th>Page Name</th>
        <th>Link</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Color</td>
        <td><a href="http://materializecss.com/color.html" target="blank">http://materializecss.com/color.html</a></td>
      </tr>
      <tr>
        <td>Grid</td>
        <td><a href="http://materializecss.com/grid.html" target="blank">http://materializecss.com/grid.html</a></td>
      </tr>
      <tr>
        <td>Helpers</td>
        <td><a href="http://materializecss.com/helpers.html" target="blank">http://materializecss.com/helpers.html</a></td>
      </tr>
      <tr>
        <td>Media</td>
        <td><a href="http://materializecss.com/media-css.html" target="blank">http://materializecss.com/media-css.html</a></td>
      </tr>
      <tr>
        <td>Pulse</td>
        <td><a href="http://materializecss.com/pulse.html" target="blank">http://materializecss.com/pulse.html</a></td>
      </tr>
      <tr>
        <td>Sass</td>
        <td><a href="http://materializecss.com/sass.html" target="blank">http://materializecss.com/sass.html</a></td>
      </tr>
      <tr>
        <td>Shadow</td>
        <td><a href="http://materializecss.com/shadow.html" target="blank">http://materializecss.com/shadow.html</a></td>
      </tr>
      <tr>
        <td>Table</td>
        <td><a href="http://materializecss.com/table.html" target="blank">http://materializecss.com/table.html</a></td>
      </tr>
      <tr>
        <td>Transitions</td>
        <td><a href="http://materializecss.com/css-transitions.html" target="blank">http://materializecss.com/css-transitions.html</a></td>
      </tr>
      <tr>
        <td>Typography</td>
        <td><a href="http://materializecss.com/typography.html" target="blank">http://materializecss.com/typography.html</a></td>
      </tr>
      <tr>
        <td>Waves</td>
        <td><a href="http://materializecss.com/waves.html" target="blank">http://materializecss.com/waves.html</a></td>
      </tr>
    </tbody>
  </table>
</div>
