<div class="card">
  <div class="card-tabs col s12">
    <ul class="tabs">
      <li class="tab"><a class="active" href="#view-ngmodel">View</a></li>
      <li class="tab"><a href="#html-ngmodel">HTML</a></li>
      <li class="tab"><a href="#code-ngmodel">TS</a></li>
    </ul>
  </div>
  <div class="card-content">
    <div id="view-ngmodel" class="col s12">

      <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="row m-valign-wrapper">
          <mz-checkbox-container class="col s12 m2">
            <input mz-checkbox
              id="checkbox-ngmodel"
              name="checkbox"
              type="checkbox"
              [filledIn]="true"
              [label]="'Disabled'"
              [(ngModel)]="values.checkbox">
          </mz-checkbox-container>
          <mz-input-container class="col s12 m5">
            <input mz-input mz-validation required
              id="input-ngmodel"
              name="input"
              type="text"
              [errorMessageResource]="errorMessages.input"
              [formControlDisabled]="values.checkbox"
              [label]="'Input'"
              [placeholder]="'Enter text'"
              [(ngModel)]="values.input">
          </mz-input-container>
          <mz-select-container class="col s12 m5">
            <select mz-select mz-validation required
              id="select-ngmodel"
              name="select"
              [errorMessageResource]="errorMessages.select"
              [formControlDisabled]="values.checkbox"
              [label]="'Select'"
              [placeholder]="'Choose an option'"
              [(ngModel)]="values.select">
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
            </select>
          </mz-select-container>
        </div>
        <button mz-button [disabled]="!f.valid" type="submit">Submit</button>
        <button mz-button (click)="clear()" type="button">Clear</button>
      </form>

      <div *ngIf="submitted">
        <h5 class="light">Submitted form</h5>
        <markdown-to-html [data]="values | json | language: 'json'">
        </markdown-to-html>
      </div>
    </div>
    <div id="html-ngmodel" class="col s12"><markdown-to-html [src]="'app/validation/validation-ngmodel/markdown/component.html'"></markdown-to-html></div>
    <div id="code-ngmodel" class="col s12"><markdown-to-html [src]="'app/validation/validation-ngmodel/markdown/component.ts'"></markdown-to-html></div>
  </div>
</div>