<header>
  <mz-sidenav #sidenav
    [id]="'sidenav'"
    [backgroundClass]="'sidenav-background'"
    [closeOnClick]="true"
    [collapseButtonId]="'btn-sidenav'"
    [fixed]="true">

    <mz-sidenav-header>
      <a [routerLink]="'home'">
        <img class="angular-logo" src="assets/angular.png">
        <img class="materialize-logo" src="assets/materialize-logo.png">
      </a>
      <h5 class="materialize-name center-align white-text">ngx-materialize</h5>
    </mz-sidenav-header>

    <mz-sidenav-collapsible *ngFor="let groupedRoute of groupedRoutes">
      <mz-sidenav-collapsible-header>
        <i mz-icon-mdi [icon]="'chevron-down'" class="grey-text caret"></i><span class="grey-text">{{ groupedRoute.section }}</span>
      </mz-sidenav-collapsible-header>

      <mz-sidenav-collapsible-content>
        <mz-sidenav-link *ngFor="let route of groupedRoute.routes">
          <a class="waves-effect white-text" [routerLink]="route.path" *ngIf="route.data">
            <i mz-icon-mdi [icon]="route.data.icon" class="{{ route.data.class }} grey-text lighten-5"></i>{{ route.data.text }}
          </a>
        </mz-sidenav-link>
      </mz-sidenav-collapsible-content>
    </mz-sidenav-collapsible>
  </mz-sidenav>

  <button mz-button
    class="sidenav-button hide-on-large-only"
    id="btn-sidenav"
    [float]="true"
    [large]="true">
    <i mz-icon-mdi [icon]="'menu'"></i>
  </button>
</header>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
</footer>