<h3>Form Binding</h3>

<p>
  This is the Ng2-Materialize form control playground to demonstrate the advantage of dynamic bindings that Angular provides.
</p>

<div class="section">

  <h5 class="light">Input</h5>

  <div class="row">

    <div class="col s12 m6">

      <mz-input-container>
        <input mz-input
          id="input"
          [label]="inputLabel"
          [placeholder]="inputPlaceholder"
          [validate]="inputValidate"
          [dataSuccess]="inputDataSuccess"
          [dataError]="inputDataError"
          [disabled]="inputDisabled"
          [length]="inputLength"
          [(ngModel)]="inputValue"
          type="email">
      </mz-input-container>
    </div>

    <div class="col s12 m6">

      <mz-input-container>
        <input mz-input
          id="input-label"
          [label]="'Label'"
          [(ngModel)]="inputLabel"
          type="text">
      </mz-input-container>

      <mz-input-container>
        <input mz-input
          id="input-placeholder"
          [label]="'Placeholder'"
          [(ngModel)]="inputPlaceholder"
          type="text">
      </mz-input-container>

      <mz-input-container>
        <input mz-input
          id="input-length"
          [label]="'Length'"
          [(ngModel)]="inputLength"
          type="number">
      </mz-input-container>

      <mz-checkbox-container>
        <input mz-checkbox
          id="input-validate"
          [label]="'Validate as email'"
          [filledIn]="true"
          [(ngModel)]="inputValidate"
          type="checkbox">
      </mz-checkbox-container>

      <mz-input-container>
        <input mz-input
          id="input-dataSuccess"
          [label]="'Validate - Success Message'"
          [(ngModel)]="inputDataSuccess"
          type="text">
      </mz-input-container>

      <mz-input-container>
        <input mz-input
          id="input-dataError"
          [label]="'Validate - Error Message'"
          [(ngModel)]="inputDataError"
          type="text">
      </mz-input-container>

      <mz-checkbox-container>
        <input mz-checkbox
          id="input-disabled"
          [label]="'Disabled'"
          [filledIn]="true"
          [(ngModel)]="inputDisabled"
          type="checkbox">
      </mz-checkbox-container>

      <p>
        Input value: {{ inputValue }}
      </p>
    </div>
  </div>
</div>

<div class="section">

  <h5 class="light">Select</h5>

  <div class="row">

    <div class="col s12 m6">

      <mz-select-container>
        <select mz-select
          id="select"
          [label]="selectLabel"
          [placeholder]="selectPlaceholder"
          [disabled]="selectDisabled"
          [(ngModel)]="selectValue"
        >
          <option *ngFor="let selectOption of selectOptions" [selected]="selectOption === selectValue">{{ selectOption }}</option>
        </select>
      </mz-select-container>
    </div>

    <div class="col s12 m6">

      <mz-input-container>
        <input mz-input
          id="select-label"
          [label]="'Label'"
          [(ngModel)]="selectLabel"
          type="text">
      </mz-input-container>

      <mz-input-container>
        <input mz-input
          id="select-placeholder"
          [label]="'Placeholder'"
          [(ngModel)]="selectPlaceholder"
          type="text">
      </mz-input-container>

      <mz-checkbox-container>
        <input mz-checkbox
          id="select-disabled"
          [label]="'Disabled'"
          [filledIn]="true"
          [(ngModel)]="selectDisabled"
          type="checkbox">
      </mz-checkbox-container>

      <p>
        Selected value: {{ selectValue }}
      </p>
    </div>
  </div>
</div>

<div class="section">

  <h5 class="light">Multiple Select</h5>

  <div class="row">

    <div class="col s12 m6">

      <mz-select-container>
        <select mz-select
          id="select-multiple"
          [label]="'Label'"
          [placeholder]="'Placeholder'"
          [(ngModel)]="selectMultipleValues"
          multiple
        >
          <option *ngFor="let selectMultipleOption of selectMultipleOptions" [selected]="selectMultipleValues.includes(selectMultipleOption)">{{ selectMultipleOption }}</option>
        </select>
      </mz-select-container>
    </div>

    <div class="col s12 m6">
      <p>
        Selected values: {{ selectMultipleValues | json }}
      </p>
    </div>
  </div>
</div>

<div class="section">

  <h5 class="light">Checkbox</h5>

  <div class="row">

    <div class="col s12 m6">

      <mz-checkbox-container>
        <input mz-checkbox
          id="checkbox"
          [label]="checkboxLabel"
          [filledIn]="checkboxFilledIn"
          [disabled]="checkboxDisabled"
          [(ngModel)]="checkboxValue"
          type="checkbox">
      </mz-checkbox-container>
    </div>

    <div class="col s12 m6">

      <mz-input-container>
        <input mz-input
          id="checkbox-label"
          [label]="'Label'"
          [(ngModel)]="checkboxLabel"
          type="text">
      </mz-input-container>

      <mz-checkbox-container>
        <input mz-checkbox
          id="checkbox-filledIn"
          [label]="'Filled In'"
          [filledIn]="true"
          [(ngModel)]="checkboxFilledIn"
          type="checkbox">
      </mz-checkbox-container>

      <mz-checkbox-container>
        <input mz-checkbox
          id="checkbox-disabled"
          [label]="'Disabled'"
          [filledIn]="true"
          [(ngModel)]="checkboxDisabled"
          type="checkbox">
      </mz-checkbox-container>

      <p>
        Checkbox value: {{ checkboxValue }}
      </p>
    </div>
  </div>
</div>

<div class="section">

  <h5 class="light">Radio Button</h5>

  <div class="row">

    <div class="col s12 m6">

      <mz-radio-button-container>
        <input mz-radio-button
          name="radio-group"
          id="radio-option-1"
          value="Option 1"
          [label]="radioOption1Label"
          [withGap]="radioWithGap"
          [disabled]="radioDisabled"
          [(ngModel)]="radioValue"
          type="radio">
      </mz-radio-button-container>

      <mz-radio-button-container>
        <input mz-radio-button
          name="radio-group"
          id="radio-option-2"
          value="Option 2"
          [label]="radioOption2Label"
          [withGap]="radioWithGap"
          [disabled]="radioDisabled"
          [(ngModel)]="radioValue"
          type="radio">
      </mz-radio-button-container>
    </div>

    <div class="col s12 m6">

      <mz-input-container>
        <input mz-input
          id="radio-label-1"
          [label]="'Label - Option 1'"
          [(ngModel)]="radioOption1Label"
          type="text">
      </mz-input-container>

      <mz-input-container>
        <input mz-input
          id="radio-label-2"
          [label]="'Label - Option 2'"
          [(ngModel)]="radioOption2Label"
          type="text">
      </mz-input-container>

      <mz-checkbox-container>
        <input mz-checkbox
          id="radio-withgap"
          [label]="'With Gap'"
          [filledIn]="true"
          [(ngModel)]="radioWithGap"
          type="checkbox">
      </mz-checkbox-container>

      <mz-checkbox-container>
        <input mz-checkbox
          id="radio-disabled"
          [label]="'Disabled'"
          [filledIn]="true"
          [(ngModel)]="radioDisabled"
          type="checkbox">
      </mz-checkbox-container>

      <p>
        Radio value: {{ radioValue }}
      </p>
    </div>
  </div>
</div>

<div class="section">

  <h5 class="light">Textarea</h5>

  <div class="row">

    <div class="col s12 m6">

      <mz-textarea-container>
        <textarea mz-textarea
          id="textarea"
          [label]="textareaLabel"
          [placeholder]="textareaPlaceholder"
          [disabled]="textareaDisabled"
          [length]="textareaLength"
          [(ngModel)]="textareaValue"></textarea>
      </mz-textarea-container>
    </div>

    <div class="col s12 m6">

      <mz-input-container>
        <input mz-input
          id="textarea-label"
          [label]="'Label'"
          [(ngModel)]="textareaLabel"
          type="text">
      </mz-input-container>

      <mz-input-container>
        <input mz-input
          id="textarea-placeholder"
          [label]="'Placeholder'"
          [(ngModel)]="textareaPlaceholder"
          type="text">
      </mz-input-container>

      <mz-input-container>
        <input mz-input
          id="textarea-length"
          [label]="'Length'"
          [(ngModel)]="textareaLength"
          type="number">
      </mz-input-container>

      <mz-checkbox-container>
        <input mz-checkbox
          id="textarea-disabled"
          [label]="'Disabled'"
          [filledIn]="true"
          [(ngModel)]="textareaDisabled"
          type="checkbox">
      </mz-checkbox-container>

      <p>
        Textarea value: {{ textareaValue }}
      </p>
    </div>
  </div>
</div>